<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
  <div class="container" style="text-align: center;">
    <h1 class="mb-1"><%= article.title %></h1>
  
<div class="text-muted mb-1">recent visit:
    <%= article.createdAt.toLocaleDateString() %>
  </div>   
  </div>
 
  <div style="text-align: center;">
  <a href="/index" class="btn btn-info">Home</a>
  <a href="/articles/edit/<%= article.slug %>" class="btn btn-secondary">Edit</a>
<br>
<br>
<ul class="list-group">
  <li class="list-group-item"><a class="alert-link">Date Of Birth: </a><%= article.dob%></li>
  <li class="list-group-item"><a class="alert-link">Phone: </a><%= article.phone%></li>
  <li class="list-group-item"><a class="alert-link">Description: </a><%= article.description%></li>
  <li class="list-group-item"><a class="alert-link">Treatment(s): </a><%= article.treatment%></li>
  <li class="list-group-item"><a class="alert-link">Address: </a><%= article.markdown%></li>
</ul>

  <div>
  <%- article.sanitizedHtml %>
</div>
</div>
</body>
</html>