<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body style="background: linear-gradient(to left, #2980b9, #2c3e50);">
  <div class="container">
      <h1 class="bm-4" style="color: white;">Patients Data</h1>
      <a href="/articles/new" class="btn btn-success">Enter Data</a>
      <a href="/" class="btn btn-danger" style="float: right;">Log Out</a>
      <!-- <a href="/articles/search" class="btn btn-info">Search Data</a> -->
      
      <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
<h4 class="card-title"><%= article.title %></h4>
<div class="card-subtitle text-muted mb-2"><span class="badge badge-warning">DOB: </span> 
<%= article.dob %>
</div>
<div class="card-text mb-2"><span class="badge badge-warning">Phone: </span> <%= article.phone%> </div>
<a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>

<form action="/articles/<%= article.id %>?_method=delete" method="POST" class="d-inline">
  <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  
  




</div>
</div>




        <% }) %>
  </div>
</body>
</html>